OPENAI_API_KEY=your_openai_api_key_here
DATABASE_URL=sqlite:///racing_assistant.db
BETFAIR_APP_KEY=eFoHjLAA1vrLsfqO
BETFAIR_SSID=DJ4j11Uzo9v2rRGH1DjMmk5LV4aJ9xkyAQXzeS9o5nI=
BETFAIR_USERNAME=samueljasonhines@gmail.com
BETFAIR_PASSWORD=DaddOw120y.1
